name: Benchmarks
on:
  push:
    branches:
      - main

permissions:
  contents: write
  deployments: write

jobs:
  benchmark:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'  # SDK Version to use. keep in line with src/Benchmarks/global.json
      - name: Build and Test
        run: ./Build.ps1
        shell: pwsh
      - name: Run benchmark
        run: cd src/Benchmarks/ && dotnet run -c Release -- --no-build --exporters json --filter '*' --job short
      - name: Store benchmark result
        uses: rhysd/github-action-benchmark@v1
        with:
          name: Intellenum Benchmarks
          tool: 'benchmarkdotnet'
          output-file-path: src/Benchmarks/BenchmarkDotNet.Artifacts/results/FromNameBenchmarks-report-full-compressed.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: true
          alert-comment-cc-users: '@stevedunn'
